<div class="row section clients">
    <h2 class="section-title"><span>Calendario</span></h2>
  
		   <section class="post-content ">
                    <div class="embed-responsive embed-responsive-4by3" style="padding-bottom: 100%"  >
                        <iframe  src="gcal.html"  class="embed-responsive-item"
                            scrolling="no"></iframe>
                    </div>
                
                </section>
		
<!--            <img src="images/sample_clients.png" alt=""> -->
 
  
</div> <!-- /section -->
