<div class="row section featured topspace">

    <h2 class="section-title"><span>GRUPOS</span></h2>

    <div class="grupos">
        {{ range where .Data.Pages "Section" "service" }}
            <div class="col-sm-6 col-md-3">
                <h5 class="text-center">{{ .Title }}</h5>
                <p>{{ .Summary }}</p>			
                <p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">Read more</a></p>
            </div>
        {{ end }}
    </div>

</div> <!-- / section -->
