<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center text-muted">
			<strong>La Rioja Tech Alliance</strong> es un lugar abierto a todo el mundo, es un punto de encuentro virtual de todos los grupos y un sitio para hacer un poco de networking:            
			<br>No dudes en mandar un correo a <a href="mailto:lariojatech@gmail.com" target="_blank"><strong>lariojatech@gmail.com</strong></a> si necesitas más información.			 	
             </p>
        </p>
    </div>
</div> <!-- / section -->
