<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center text-muted">
			<strong>La Rioja Tech Alliance</strong> es un lugar abierto a todo el mundo, es un punto de encuentro virtual de todos los grupos y un sitio para hacer un poco de networking.          			
             <br><br>Unete a nuestro grupo en Slack, para conversar con nosotros en directo.<br>
			 <a href="https://launchpass.com/spaincommunity"><strong>Registrate</strong></a> o <a href="https://spaincommunity.slack.com/messages"><strong>entra</strong></a> directamente a nuestro Slack si ya estas registrado
			 <br><br>Tambien puedes mandar un correo a <a href="mailto:lariojatech@gmail.com" target="_blank"><strong>lariojatech@gmail.com</strong></a> si necesitas más información.			    				
		</p>        
    </div>
</div> <!-- / section -->
