{{ partial "header.html" . }}

     
<main id="main">			

{{ if (eq .Section  "post" ) }}
<div class="text-center">
		<div >
			<h3> EVENTOS  </h3>
		</div >
		<div>
			<a href="/pasados/"> Ver Eventos Pasados</a>
		</div >
</div>
{{ range (.Paginator 6).Pages.ByDate }}			
		<div class="grupos">
			<div class="col-sm-6 col-md-3">
				<div class="entry-meta">
						<span class="posted-on"><time class="entry-date published" date="{{ .Date }}">{{ dateFormat .Site.Params.DateForm .Date }}</time></span>
				</div>
				<h5 class="text-center">{{ .Title }}</h5>
				<div class="sumario"> {{.Summary }}</div>
				<p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">Leer más</a>
				</p>
			</div>
		</div>		
	{{ end }}
	
{{ end }}
{{ if (eq .Section  "pasados" ) }}
	<div class="text-center">
		<div >
			<h3>EVENTOS PASADOS  </h3>
		</div >
		<div>
			<a href="/post/">   Ver Eventos Futuros</a></span></h4>	
		</div >
</div>
<ul>
{{ range (.Paginator 6).Pages.ByDate }}	
	 <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
      <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
{{ end }}
</ul>
{{ end }}
<div class="container">
		

		<center class="">
			<ul class="pagination">
                {{ template "_internal/pagination.html" . }}
			</ul>
		</center>


	</div>	<!-- /container -->
	

</main>

{{ partial "footer.html" . }}
