{{ partial "header.html" . }}

 
    
<main id="main">
			<h2 class="section-title"><span>EVENTOS</span></h2>					
<div class="grupos">
{{ range where .Pages.ByDate "Section" "post" }}
	<div class="col-sm-6 col-md-3">
		<div class="entry-meta">
				<span class="posted-on"><time class="entry-date published" date="{{ .Date }}">{{ dateFormat .Site.Params.DateForm .Date }}</time></span>
		</div>
		<h5 class="text-center">{{ .Title }}</h5>
		<div class="sumario"> {{.Summary }}</div>
		<p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">Leer más</a>
	</p>

	</div>
{{ end }}
</div>
	<div class="container">
		<div class="row topspace">
			<div class="col-sm-8 col-sm-offset-2">

                {{ range .Paginator.Pages }}
		
                {{ end }}

			</div>
		</div>

		<center class="">
			<ul class="pagination">
                {{ template "_internal/pagination.html" . }}
			</ul>
		</center>


	</div>	<!-- /container -->

</main>

{{ partial "footer.html" . }}
